{%- for value in option.values -%}
  <div class="filter-form__item product-swatches__item {% if value.count == 0 and value.active == false %} filter-form--disabled{% endif %}">
    <input type="radio" class="filter-form__radio js-variant-radio-item visually-hidden"
      name="{{ value.param_name }}"
      value="{{ value.value }}"
      id="Filter-{{ section.id }}-{{ option.label | escape }}-{{ forloop.index }}"
      {% if value.active %}checked{% endif %}
      {% if value.count == 0 and value.active == false %}disabled{% endif %}>
    <label class="form__label d-flex gap-8 c-pointer" for="Filter-{{ section.id }}-{{ option.label | escape }}-{{ forloop.index }}" tabindex="-1">
      <span class="product-swatches js-variant-swatch-item pdg-12 mr-4 br-50p d-block" aria-hidden="true" data-option-value="{{ value.value | downcase | escape | remove: " " }}"></span>
      <span class="product-swatches-label">{{ value.value }}</span>
    </label>
  </div>
{%- endfor -%}