{%- render 'cart-drawer' -%}

<div class="drawer__related-products">
  <h3 class="drawer__related-title">También te puede interesar</h3>
  <div class="drawer__related-list">
    {% assign recommended_products = collections['destacados'].products | slice: 0, 4 %}
    {% for product in recommended_products %}
      <div class="drawer__related-item">
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}">
          <p>{{ product.title }}</p>
          <p>{{ product.price | money }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>