<div class="section color-{{ section.settings.color_scheme }} {{ section.settings.remove_padding_top | replace: 'true', 'section-top-zero' | replace: section.settings.remove_padding_top, '' }} {{ section.settings.remove_padding_bottom | replace: 'true', 'section-bottom-zero' | replace: section.settings.remove_padding_bottom, '' }} {% render 'animation-loader', section: section %}" data-ui-component="Custom HTML Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="ctnr">
    {% render 'section-header'
      content_align: 'ta-left',
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      description: section.settings.description,
      badge_text: section.settings.badge_text,
      badge_position: section.settings.badge_position,
      badge_shape: section.settings.badge_shape,
      badge_color: section.settings.badge_color,
      section: section
    %}
    <div class="s-content hide-empty">{{- section.settings.html_code -}}</div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.custom_html.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "accent-1"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Custom HTML"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "html",
      "id": "html_code",
      "label": "t:sections.custom_html.settings.html_code.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_top",
      "label": "t:general.settings.remove_padding_top.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_padding_bottom",
      "label": "t:general.settings.remove_padding_bottom.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_prominent_badge.content"
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "t:general.settings.text.label",
      "info": "t:general.settings.prominent_badge.text.info",
      "default": "Your title"
    },
    {
      "type": "select",
      "id": "badge_color",
      "label": "t:general.settings.accent_scheme.label",
      "default": "color-accent-1",
      "options": [
        {
          "value": "color-accent-1",
          "label": "t:general.settings.main.label"
        },
        {
          "value": "color-accent-2",
          "label": "t:general.settings.extra.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_position",
      "label": "t:general.settings.badge_position.label",
      "default": "p-badge--bottom-right",
      "options": [
        {
          "value": "p-badge--bottom-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "p-badge--bottom-right",
          "label": "t:general.settings.option_right.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "badge_shape",
      "label": "t:general.settings.badge_shape.label",
      "default": "badge--star",
      "options": [
        {
          "value": "badge--star",
          "label": "t:general.settings.badge_shape.options.option_star.label"
        },
        {
          "value": "badge--diamond",
          "label": "t:general.settings.badge_shape.options.option_diamond.label"
        },
        {
          "value": "badge--asterisk",
          "label": "t:general.settings.badge_shape.options.option_asterisk.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_html.name"
    }
  ]
}
{% endschema %}