{%- liquid
  assign desktop_background_image_alt  = section.settings.desktop_background_image.alt | default: section.settings.desktop_background_image.image | split: '/' | last
  assign desktop_background_image = section.settings.desktop_background_image | image_url: width: section.settings.desktop_background_image.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: desktop_background_image_alt, class: 'js-image-lazy d-none d-block-sm w-100 h-100 of-cover'

  assign mobile_background_image_alt  = section.settings.mobile_background_image.alt | default: section.settings.mobile_background_image.image | split: '/' | last
  assign mobile_background_image = section.settings.mobile_background_image | image_url: width: section.settings.mobile_background_image.width | image_tag: widths: '750', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: mobile_background_image_alt, class: 'js-image-lazy-mobile d-none-sm d-block w-100 h-100 of-cover'

  if section.settings.mobile_background_image == blank
    assign desktop_background_image = desktop_background_image | replace: 'd-none d-block-sm', ''
  endif

  assign footer_bg = section.settings.enable_footer_background
  assign color_scheme_footer = section.settings.color_scheme_footer

  if section.settings.mobile_background_image or section.settings.desktop_background_image
    unless section.settings.section_mask_overlay_color.alpha == 0.0 or section.settings.section_mask_overlay_color == blank
      assign overlay_color =  '--color-page-bg-rgb:' | append: section.settings.section_mask_overlay_color.red | append: ',' | append: section.settings.section_mask_overlay_color.green | append: ',' | append: section.settings.section_mask_overlay_color.blue
    endunless
    unless section.settings.section_content_overlay_color.alpha == 0.0 or section.settings.section_content_overlay_color == blank
      assign content_color =  'color:' | append: section.settings.section_content_overlay_color
    endunless
  endif

  capture logo
    render 'header-logo', styles: content_color
  endcapture
-%}
{{ 'password.css' | asset_url | stylesheet_tag: preload: true }}
{% style %}
.logo__width {
  --logo-width-desktop: {{ section.settings.logo_width | append: 'px' }};
  --logo-width-mobile: {{ section.settings.logo_width_mobile | append: 'px' }};
}
{% endstyle %}
<div class="password-wrapper has-animation color-{{- section.settings.color_scheme }} w-100 mih p-relative d-flex fd-column ta-center middle-xs between-xs o-hidden">
  {% if section.settings.mobile_background_image or section.settings.desktop_background_image %}
    <div class="p-absolute w-100 h-100 sht-mask " style="--overlay: {{ section.settings.image_overlay_opacity }}; {{ overlay_color }}">
        <div class="animation d-block w-100 h-100 js-animate anm anm-zoomOut">
          {%- liquid
            echo desktop_background_image | replace: "src=", 'loading="lazy" decoding="async" src='
            if section.settings.mobile_background_image
                echo mobile_background_image | replace: "src=", 'data="mobile" loading="lazy" decoding="async" src='
            endif
          -%}
        </div>
    </div>
  {% endif %}
  <div class="password section ctnr w-100 zi-1 d-flex fd-column center-xs pt-48 flex-1">
    <div class="password__logo logo__width of-cover">
      {{ logo }}
    </div>
    {%- if shop.password_message != blank -%}
      <div class="mt-24 mt-lg-8">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    {%- for block in section.blocks -%}
      <div class="password__content" {{ block.shopify_attributes }} style="{{ content_color }}">
        {% render 'section-header'
          classes: 's-header s-header--special pb-0 d-flex center-xs',
          subheading: block.settings.subheading,
          heading: block.settings.heading,
          description: block.settings.description,
          description_extra_class: 'm-sides',
          badge_text: block.settings.badge_text,
          badge_position: block.settings.badge_position,
          badge_shape: block.settings.badge_shape,
          badge_color: block.settings.badge_color,
          section: section
        %}
        <div class="clm m-auto s-text-mt d-none {{ block.settings.enable_newsletter | replace: 'true', 'd-block' }} js-animate anm" style="--w-md: 6; --w-sm: 10; --duration: .6s; --delay: 1.2s">
          {% render 'newsletter-form', form_id: 'mainPassword', form_name: 'mainPassword', button_label: block.settings.button_label %}
        </div>
        <div class="section-alone js-animate anm d-none {{ block.settings.show_contact | replace: 'true', 'd-block' }}" style="--duration: .6s; --delay: 1.2s">
          {% render 'contact', header_style: 'mb-36', contact_class: 'fd-row-sm middle-xs subtext r-gap-12' %}
        </div>
        <div class="mt-24 js-animate anm d-none {{ block.settings.show_social | replace: 'true', 'd-block' }}" style="--duration: .6s; --delay: 1.2s">
          {% render 'socials', classes: 'center-xs gap-12', button_type: 'btn-secondary' %}
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="password__footer subtext d-flex fd-column center-xs w-100 zi-1 pt-12 pb-12 between-lg middle-lg fd-row-lg {% if footer_bg %} {{ color_scheme_footer }} {% endif %} ">
    {%- capture shopify_link -%}
      <a class="d-flex middle-xs ml-4" href="//www.shopify.com" rel="nofollow" target="_blank" aria-describedby="a11y-new-window-message" aria-label="Shopify">
        {%- render 'icon-shopify', class: 'ml-8' %}
      </a>
    {%- endcapture -%}
    <div class="password__footer-left d-flex middle-xs center-xs mb-12">
      {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
    </div>

    <div class="password__admin-link d-flex fd-column middle-xs center-xs fd-row-lg">
      <sht-password-modal class="password__admin-login d-flex mb-12">
        <details class="password-modal">
          <summary class="modal__toggle ls-none d-flex" aria-haspopup="dialog">
            <button class="btn btn-link modal__toggle-open subtext d-flex middle-xs td-underline">
              {%- render 'icon-lock', class: 'mr-8' -%}
              {{ 'general.password_page.login_password_button' | t }}
            </button>
          </summary>
          <div class="modal__content modal js-password-modal-content p-fixed w-100v h-100v left-0 top-0 hidden-xs opacity-0 d-flex bottom-xs middle-sm ta-center center-xs js-modal"
          role="dialog"
          aria-labelledby="dialogPasswordHeading"
          aria-modal="true"
          >
            <div class="password-modal__content dialog" tabindex="-1">
              <div class="modal-dialog__content__header dialog__header d-flex between-xs middle-xs">
                <h5 class="ta-left m-zero" id="dialogPasswordHeading" data-type="modal-title">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h5>
                <button aria-label="{{ 'accessibility.close' | t }}" type="button" class="btn bg-transparent js-modal-btn-close" data-dismiss="modal">
                  {%- render 'icon-close' -%}
                </button>
              </div>
              <div class="modal-dialog__body dialog__body">
                {%- form 'storefront_password', class: 'password_form mb-32 mb-sm-24 mb-md-16', id: 'modal-password' -%}
                  {%- if form.errors -%}
                    <p class="d-flex middle-xs center-xs">
                      <span class="icon icon--small icon--error fs-0 mr-8">
                        {%- render 'icon-error', size: 16 -%}
                      </span>
                      <span class="subtext">
                        {{ form.errors.messages['form'] }}
                      </span>
                    </p>
                  {%- endif -%}
                  <div class="form__group d-flex fd-column fd-row-sm layout-form">
                    <input id="mainPasswordInput" type="password" class="field__text field--focus field--hover w-100 fg-1 mb-16" name="password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      autofocus
                      required
                    >
                    <label class="field__label visually-hidden" for="mainPasswordInput">{{ 'general.password_page.your_password' | t }}</label>
                    <button aria-label="{{ 'general.password_page.login_form_submit' | t }}" type="submit" name="commit" class="btn btn-primary btn-large fs-0">
                      {{ 'general.password_page.login_form_submit' | t }}
                      {% render 'icon-arrow-right', class: 'ml-8' %}
                    </button>
                  </div>
                {%- endform -%}
                <span class="password__footer-text subtext">
                  {{ "general.password_page.admin_link_html" | t }}
                  <a href="/admin" class="btn btn-link btn-small ml-8">{{ 'general.password_page.admin_link_login' | t }}</a>
                </span>
              </div>
            </div>
          </div>
        </details>
      </sht-password-modal>
      <span class="password__admin-account">
        {{ 'general.password_page.admin_link_html' | t }}
        <a href="/admin" class="btn btn-link ml-8">{{ 'general.password_page.admin_link_login' | t }}</a>
      </span>
    </div>
  </div>
</div>
{%- liquid
  assign files = "component-password.js" | split: ', '
  render 'js-loader', files: files
-%}
<ul hidden>
  <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
</ul>
{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "unit": "%",
      "max": 90,
      "min": 0,
      "step": 1,
      "default": 30,
      "id": "image_overlay_opacity",
      "label": "t:general.settings.overlay_opacity.label"
    },
    {
      "type": "color",
      "id": "section_mask_overlay_color",
      "label": "t:general.settings.mask_overlay.label",
      "info": "t:general.settings.applies_when_using_background_image.info",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "section_content_overlay_color",
      "label": "t:general.settings.text_overlay.label",
      "info": "t:general.settings.applies_when_using_background_image.info",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:general.settings.image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:general.settings.logo_width_desktop.label",
      "min": 50,
      "max": 250,
      "step": 5,
      "default": 160,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:general.settings.logo_width_mobile.label",
      "min": 50,
      "max": 200,
      "step": 5,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_background_image",
      "label": "t:general.settings.desktop_background_image.label",
      "info": "t:general.settings.image_recommend.info"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "t:general.settings.mobile_background_image.label",
      "info": "t:general.settings.image_recommend_mobile.info"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.headers.headers_footer.content"
    },
    {
      "type": "checkbox",
      "id": "enable_footer_background",
      "label": "t:sections.main_password.settings.enable_footer_background.label",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme_footer",
      "label": "t:general.settings.accent_scheme.label",
      "default": "color-accent-1",
      "options": [
        {
          "value": "color-accent-1",
          "label": "t:general.settings.main.label"
        },
        {
          "value": "color-accent-2",
          "label": "t:general.settings.extra.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.main_password.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:general.settings.subheading.label",
          "default": "Welcome text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Opening soon"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_prominent_badge.content"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "t:general.settings.text.label",
          "info": "t:general.settings.prominent_badge.text.info"
        },
        {
          "type": "select",
          "id": "badge_color",
          "label": "t:general.settings.color_scheme.label",
          "default": "color-accent-2",
          "options": [
            {
              "value": "color-accent-1",
              "label": "t:general.settings.main.label"
            },
            {
              "value": "color-accent-2",
              "label": "t:general.settings.extra.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "badge_position",
          "label": "t:general.settings.badge_position.label",
          "default": "p-badge--top-right",
          "options": [
            {
              "value": "p-badge--top-left",
              "label": "t:general.settings.option_left.label"
            },
            {
              "value": "p-badge--top-right",
              "label": "t:general.settings.option_right.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "badge_shape",
          "label": "t:general.settings.badge_shape.label",
          "default": "badge--star",
          "options": [
            {
              "value": "badge--star",
              "label": "t:general.settings.badge_shape.options.option_star.label"
            },
            {
              "value": "badge--diamond",
              "label": "t:general.settings.badge_shape.options.option_diamond.label"
            },
            {
              "value": "badge--asterisk",
              "label": "t:general.settings.badge_shape.options.option_asterisk.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_newsletter.content",
          "info": "t:general.settings.headers.header_newsletter.info"
        },
        {
          "type": "checkbox",
          "id": "enable_newsletter",
          "label": "t:sections.footer.settings.enable_newsletter.label",
          "default": true
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main_password.settings.submit_button_text.label",
          "default": "Notify me"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_contact_information.content",
          "info": "t:general.settings.headers.header_contact_information.info"
        },
        {
          "type": "checkbox",
          "id": "show_contact",
          "label": "t:general.settings.enable_contact.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "t:general.settings.enable_social.label",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
